@model TMS.Web.Models.AlarmSettings

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        @*<h1>edit</h1>*@
        <form asp-action="AddOrEdit" asp-route-id="@Model.AlarmSettingID" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AlarmSettingID" />
            <input type="hidden" asp-for="Info" />
            <div class="form-group">
                <label asp-for="Value" class="control-label"></label>
                <input asp-for="Value" class="form-control" />
                <span asp-validation-for="Value" class="text-danger"></span>
            </div>
            
            <div class="form-group" class="col text-center">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
