@model TMS.Web.Models.AlarmSettings
@{
    ViewData["Title"] = "Alarm Settings";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<head>
    @section Scripts{
        <script>
            //document ready
            var oTable;
            $(document).ready(function () {
                oTable = $('#tb-AlarmSettings').DataTable(
                    {
                        "serverSide": true, // for process server side
                        "scrollY": "500px",
                        "scrollX": true,
                        "autoWidth": false,
                        "scrollCollapse": true,
                        "paging": false,
                        "fixedColumns": true,
                        "processing": true,
                        "searching" : false,
                        "lengthChange": false,
                       "info" : false,
                        "ajax": {
                            "url": "@Url.Action("LoadData")",
                            "type": "POST",
                            "datatype": "json",
                            //"success": function (result) {
                            //    console.log(result);
                            //}
                        },
                        "columnDefs": [{
                            "targets": 0,
                            "visible": false,
                            "searchable": false
                        }],
                        "columns": [
                            { "data": "alarmSettingID", "name": "AlarmSettingID", "autoWidth": true },
                            {
                                data: null,
                                render: function (data, type, full, meta) {
                                    //console.log(full);
                                    return "<button type='button' class='btn btn-warning btn-sm' onclick=UpdateData('" + full.alarmSettingID + "');><i class='fas fa-edit fa-lg'></i> Edit</button>";
                                },
                                "width" : "1%"
                            },
                            { "data": "info", "name": "Info", "autoWidth": true },
                            { "data": "value", "name": "Value", "autoWidth": true }
                        ]
                    });

            });
            //end document ready

            //update data
            function UpdateData(Id) {
                console.log(Id);
                var toSend =
                {
                    id: Id
                };
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("AddOrEdit")",
                    data: toSend,
                    success: function (res) {
                        jQuery.noConflict();
                        $("#form-modal").modal();
                        $("#form-modal .modal-body").html(res);
                        $("#form-modal .modal-title").html('Edit Value');
                        $("#form-modal").modal('show');
                    },
                    error: function (res) {
                        console.log(res);
                    }
                })
            }
            //end update data

        </script>
    }
</head>

<div class="container-fluid py-3">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Alarm Settings</h1>
        <a value="reload" onclick="document.location.reload(true)" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-redo-alt"></i>
        </a>
    </div>



    <div class="card shadow-lg rounded" style="width: 100%;">
        <div class="card-header bg-gradient-info p-1"></div>
        <div class="card-body">
            <h5 class="card-title">Alarm Value Settings</h5>
            <hr class="sidebar-divider my-3">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
    </div>
</div>
