@{
    ViewData["Title"] = "Alarm Page";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!-- Begin Page Content -->
<div class="container-fluid">
    <p class="font-size: 50px;">Alarm</p>
    </div>