@model TMS.Web.Models.Historical
@{
    ViewData["Title"] = "Alarms Log";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<!-- Begin Page Content -->
<head>
    @section Scripts{
        <script type="text/javascript" asp-append-version="true">
            var oTable;
            $(document).ready(function () {
                oTable = $('#tb-alarms').DataTable(
                    {
                        "serverSide": true, // for process server side
                        "scrollY": true,
                        "scrollX": true,
                        "autoWidth": false,
                        "scrollCollapse": true,
                        "paging": true,
                        "fixedColumns": true,
                        "processing": true,
                        "ajax": {
                            "url": "@Url.Action("LoadData")",
                            "type": "POST",
                            "datatype": "json"
                        },
                        "columnDefs": [{
                            "targets": 0,
                            "visible": false,
                            "searchable": false
                        }],
                        "columns": [
                            { "data": "alarmID", "name": "AlarmID", "autoWidth": true },
                            { "data": "alarmStatus", "name": "AlarmStatus", "autoWidth": true },
                            { "data": "locationName", "name": "LocationName", "autoWidth": true },
                            { "data": "pressure", "name": "Pressure", "autoWidth": true },
                            { "data": "timeStamp", "name": "TimeStamp", "autoWidth": true },
                        ]
                    }
                );
            });//end document ready
        </script>
    }
</head>

<!-- Begin Page Content -->
<div class="container-fluid" style="width: 100%;">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Alarms</h1>
        <a value="reload" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-redo-alt"></i>
        </a>
    </div>

    <!-- Submain Content -->
    <div class="card shadow-lg rounded" style="font-size:12px;">
        <div class="card-body">

            <!-- Tank Table -->
            @await Html.PartialAsync("_ViewAll", Model)
            <!-- End Tank table -->

        </div>
    </div>
    <!-- End Submain Content -->

</div>
<!-- End Page Content -->
