@model PressMon.Web.Models.Tank

@{
    ViewData["Title"] = "AddOrEdit";
    Layout = null;
}
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddOrEdit" asp-route-id="@Model.TankId" onsubmit="return jQueryAjaxPost(this);" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TankId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                <select asp-for="ProductId" class="form-control" asp-items=@(new SelectList(ViewBag.ProductId,"ProductId","ProductName"))></select>
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TankVolume" class="control-label"></label>
                <input asp-for="TankVolume" class="form-control" />
                <span asp-validation-for="TankVolume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TankHeight" class="control-label"></label>
                <input asp-for="TankHeight" class="form-control" />
                <span asp-validation-for="TankHeight" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsUsed" /> @Html.DisplayNameFor(model => model.IsUsed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsAutoPI" /> @Html.DisplayNameFor(model => model.IsAutoPI)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TankDiameter" class="control-label"></label>
                <input asp-for="TankDiameter" class="form-control" />
                <span asp-validation-for="TankDiameter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TankForm" class="control-label"></label>
                <input asp-for="TankForm" class="form-control" />
                <span asp-validation-for="TankForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightSafeCapacity" class="control-label"></label>
                <input asp-for="HeightSafeCapacity" class="form-control" />
                <span asp-validation-for="HeightSafeCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightVolMax" class="control-label"></label>
                <input asp-for="HeightVolMax" class="form-control" />
                <span asp-validation-for="HeightVolMax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightPointDesk" class="control-label"></label>
                <input asp-for="HeightPointDesk" class="form-control" />
                <span asp-validation-for="HeightPointDesk" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightTankBase" class="control-label"></label>
                <input asp-for="HeightTankBase" class="form-control" />
                <span asp-validation-for="HeightTankBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HeightDeadStock" class="control-label"></label>
                <input asp-for="HeightDeadStock" class="form-control" />
                <span asp-validation-for="HeightDeadStock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StretchCoefficient" class="control-label"></label>
                <input asp-for="StretchCoefficient" class="form-control" />
                <span asp-validation-for="StretchCoefficient" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DensityCalibrate" class="control-label"></label>
                <input asp-for="DensityCalibrate" class="form-control" />
                <span asp-validation-for="DensityCalibrate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RaisePerMM" class="control-label"></label>
                <input asp-for="RaisePerMM" class="form-control" />
                <span asp-validation-for="RaisePerMM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeadstockVolume" class="control-label"></label>
                <input asp-for="DeadstockVolume" class="form-control" />
                <span asp-validation-for="DeadstockVolume" class="text-danger"></span>
            </div>
            <div class="form-group" class="col text-center">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                <button type="submit" class="btn btn-success">Save changes</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
