@model PressMon.Web.Areas.Identity.Data.AppRole
<!-- Tank Table -->
<div class="table-responsive">
    <table id="tb-role" class="table table-striped table-bordered dt-responsive nowrap table-hover" cellspacing="0">
        <thead>
            <tr>
                <th>
                    Action
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            </tr>
        </thead>
    </table>
</div>

