@model PressMon.Web.Areas.Identity.Data.AppRole
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<head>
    @section Scripts{
        <script>
            //document ready
            var oTable;
            $(document).ready(function () {
                oTable = $('#tb-role').DataTable(
                    {
                        "serverSide": true, // for process server side
                        "scrollY": "500px",
                        "scrollX": true,
                        "autoWidth": false,
                        "scrollCollapse": true,
                        "paging": false,
                        "fixedColumns": true,
                        "processing": true,
                        "searching": false,
                        "lengthChange": false,
                        "info": false,
                        "ajax": {
                            "url": "@Url.Action("LoadData")",
                            "type": "POST",
                            "datatype": "json",
                            //"success": function (result) {
                            //    console.log(result);
                            //}
                        },
                        "columnDefs": [{
                            "targets": 0,
                            "visible": false,
                            "searchable": false
                        }],
                        "columns": [
                            { "data": "id", "name": "Id", "autoWidth": true },
                            { "data": "name", "name": "Name", "autoWidth": true },
                        ]
                    });//end document
            });
        </script>
        }
</head >
<div class="container-fluid py-3">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">Role Management</h1>
        <a value="reload" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-redo-alt"></i>
        </a>
    </div>
    <div class="card shadow-lg rounded" style="width: 100%;">
        <div class="card-header bg-gradient-info p-1"></div>
        <div class="card-body">
            <!-- Tank Filter -->
            <form>
                <div class="form-row text-right">
                    <div class="col col-md-3">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" style="width: 100%;" onclick="showInPopup('@Url.Action("AddOrEdit","AppRoles",null,Context.Request.Scheme)','Add New Role')"><i class="fas fa-plus"></i> New</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End Tank Filter -->
            <hr class="sidebar-divider my-3">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>
            </div>
</div>
