@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
@{
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <section>
            <form id="account" method="post" style="padding:10px;">
                <hr />
                <div class="input-group mb-3">
                    <input asp-for="Input.Username" class="form-control" placeholder="Username">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input asp-for="Input.Password" class="form-control" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-block btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
