@model TMS.Web.Models.Historical
<!-- Tank Table -->
<div class="table-responsive">
    <table id="tb-historical" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.HistoricalID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Pressure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeStamp)
                </th>
            </tr>
        </thead>
    </table>
</div>

