@{
    Layout = "/Views/Shared/_LoginLayout.cshtml";
}


<!-- Outer Row -->
<div class="row justify-content-center align-items-center">

    <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-10">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="p-5">
                    <div class="text-center">
                        <i class="fas fa-hard-hat fa-3x mb-0 text-gray-800"></i>
                        <h1 class="h5 mb-4 font-weight-bold text-gray-800"></h1>
                    </div>

                    @RenderBody()

                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts{
    @RenderSection("Scripts", required: false)
    <script>
        $(function () {
            var current = location.pathname;
            $('.nav-tabs li a').each(function () {
                var $this = $(this);
                if (current.indexOf($this.attr('href')) !== -1) {
                    $this.addClass('active');
                }
            })
        })
        $(".toggle-password").click(function () {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $($(this).attr("toggle"));
            if (input.attr("type") == "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>
}