@model PressMon.Web.Areas.Identity.Data.AppUser
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<head>
    @section Scripts{
        <script type="text/javascript" asp-append-version="true">
            var oTable;
            $(document).ready(function (){
                oTable = $('#tb-user').DataTable(
                    {
                        "serverSide": true, //for process server side
                        "scrollY": "500px",
                        "scrollX": true,
                        "autoWidth": false,
                        "scrollCollapse": true,
                        "paging": true,
                        "fixedColumns": true,
                        "ajax": {
                            "url": "@Url.Action("LoadData")",
                            "type": "POST",
                            "datatype": "json"
                        },
                        "columnDefs": [{
                            "targets": 0,
                            "visible": false,
                            "searchable": false
                        }],
                        "columns": [
                            { "data": "id", "name": "Id", "autoWidth": true },
                            {
                                data: null,
                                render: function (data, type, full, meta) {
                                    return "<button type='button' class='btn btn-warning'onclick=UpdateData('" + full.id + "');><i class='fas fa-edit fa-lg'></i> Edit</button> <button type='button' class='btn btn-danger' onclick=DeleteData('" + full.id + "');><i class='fas fa-trash-alt'></i>Delete</button>";
                                }
                            },
                            { "data": "fullName", "name": "FullName", "autoWidth": true },
                            { "data": "role", "name": "Role", "autoWidth": true },
                            { "data": "email", "name": "Email", "autoWidth": true },
                            { "data": "phoneNumber", "name": "Email", "autoWidth": true },
                        ]
                    });
            }); //end document ready
                //update data
                function UpdateData(Id) {
                    var toSend =
                    {
                        id: Id
                    };
                    $.ajax({
                        type: "GET",
                        contentType: "application/json; charset=utf-8",
                        url: '@Url.Action("AddOrEdit")',
                        data: toSend,
                        success: function (res) {
                            jQuery.noConflict();
                            $("#form-modal").modal();
                            $("#form-modal .modal-body").html(res);
                            $("#form-modal .modal-title").html('Edit User');
                            $("#form-modal").modal('show');
                        },
                        error: function (res) {
                            console.log(res);
                        }
                    })
                }
                //end update data
                //start delete data
                function DeleteData(Id) {
                    if (confirm('Are you sure want to delete this user?')) {
                        var toSend =
                        {
                            id: Id
                        };
                        console.log(Id);
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("Delete")",
                            data: toSend,
                            success: function (res) {
                                oTable = $('#tb-user').DataTable();
                                oTable.ajax.reload(null, false);
                            },
                            error: function (err){
                                console.log(err);
                            }
                        })
                    }
                }
        </script>
    }
</head>
<div class="container-fluid py-3">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h4 mb-0 text-gray-800">User</h1>
        <a value="reload" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm">
            <i class="fas fa-redo-alt"></i>
        </a>
    </div>
    <div class="card shadow-lg rounded" style="width: 100%;">
        <div class="card-header bg-gradient-info p-1"></div>
        <div class="card-body">
            <!-- Tank Filter -->
            <form>
                <div class="form-row text-right">
                    <div class="col col-md-3">
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" style="width: 100%;" onclick="showInPopup('@Url.Action("AddOrEdit","AppUsers",null,Context.Request.Scheme)','Add New User')"><i class="fas fa-plus"></i> New</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End Tank Filter -->
            <hr class="sidebar-divider my-3">
            @await Html.PartialAsync("_ViewAll", Model)
        </div>

        </div>
    </div>
</div>